<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    {{!-- <div class='containter-fluid' id="page-content-wrapper" style="margin: 5px;">

        <div class='row justify-content-center' style="margin-bottom: 10px;">
            <h3>Intake Form</h3>
        </div>

        <div class='row justify-content-center'>
            <div class='col-4'>
                <h5>Family Name*</h5>
            </div>
            <div class='col-4'>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Insert Name" aria-label="Family Name">
                </div>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class='col-4'>
                <h5>Secondary Family Name</h5>
            </div>
            <div class='col-4'>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Insert Secondary Name"
                        aria-label="Secondary amily Name">
                </div>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class='col-4'>
                <h5>NJ Spirit Number*</h4>
            </div>
            <div class='col-4'>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Insert Spirit Number"
                        aria-label="NJ Spirit Number">
                </div>
            </div>
        </div>

        <div class='row justify-content-center' style="margin-top: 15px;">
            <h3>Attachments</h3>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="DYFS 9-7" readonly>
        </div>



    </div> --}}


    <div class="container" id="page-content-wrapper">
        
        <h4 class="row justify-content-center" style="margin: 15px;">Intake Form</h4>
        <form>

            <div class="justify-content-center">
                
            </div>
            <div class="form-group row justify-content-center">
                <label for="inputFamilyName" class="col-sm-3 col-form-label">Family Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputEmail">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="inputSecondaryFamilyName" class="col-sm-3 col-form-label">Secondary Family Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputSecondaryFamilyName">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                First radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                Second radio
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                value="option3" disabled>
                            <label class="form-check-label" for="gridRadios3">
                                Third disabled radio
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-2">Checkbox</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Example checkbox
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>