<!-- Page should pull case information from database and display summary. -->

<div class="d-flex" id="wrapper">

  <div class="container-fluid" id="page-content-wrapper">
        <h2 style="margin-left: 38%; padding:10px;"> Case Information </h2>
        <div style="margin-left: 20%;" class="row">
            <table class="table" id="vertical-1" style="background-color: silver; margin-left: 20px; width:200%;">
                <tr>
                    <th>NJ Spirit Number</th>
                    <td>#000000</td>
                </tr>
                <tr>
                    <th>Family Name</th>
                    <td>Smith</td>
                </tr>
                <tr>
                    <th>Case Manager</th>
                    <td>Dr. Pederson</td>
                </tr>
                <tr>
                    <th>Case Type</th>
                    <td>[insert type]</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>Active</td>
                </tr>
                <tr>
                    <th>Prosecutor Case Number</th>
                    <td>#000000</td>
                </tr>
                <tr>
                    <th>Date Created</th>
                    <td>MM/DD/YYYY</td>
                </tr>
            </table>
        </div>
    </div>
</div>


</div>
