<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Case</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Referral</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Patients</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Medical</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Family</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">History</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Services</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Staff</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Mental Health</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Recommendation</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Family Recommendation</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Notes</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->


    <div id="page-content-wrapper">
        {{!-- Page Content Here --}}
    </div>


</div>
