<!-- Page should pull case information from database and display summary. -->

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="/cases" class="list-group-item list-group-item-action bg-light">Case</a>
            <a href="/cases/referral" class="list-group-item list-group-item-action bg-light">Referral</a>
            <a href="/cases/patients" class="list-group-item list-group-item-action bg-light">Patients</a>
            <a href="/cases/medical" class="list-group-item list-group-item-action bg-light">Medical</a>
            <a href="/cases/family" class="list-group-item list-group-item-action bg-light">Family</a>
            <a href="/cases/history" class="list-group-item list-group-item-action bg-light">History</a>
            <a href="/cases/services" class="list-group-item list-group-item-action bg-light">Services</a>
            <a href="/cases/staff" class="list-group-item list-group-item-action bg-light">Staff</a>
            <a href="/cases/mentalhealth" class="list-group-item list-group-item-action bg-light">Mental Health</a>
            <a href="/cases/recommendation" class="list-group-item list-group-item-action bg-light">Recommendation</a>
            <a href="/cases/familyrecommendation" class="list-group-item list-group-item-action bg-light">Family
                Recommendation</a>
            <a href="/cases/notes" class="list-group-item list-group-item-action bg-light">Notes</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->


    <div class="container-fluid" id="page-content-wrapper">
        <h2 style="margin-left: 38%; padding:10px;"> Case Information </h2>
        <div style="margin-left: 20%;" class="row">
            <table class="table" id="vertical-1" style="background-color: silver; margin-left: 20px; width:70%;">
                <tr>
                    <th>NJ Spirit Number</th>
                    <td>#000000</td>
                </tr>
                <tr>
                    <th>Family Name</th>
                    <td>Smith</td>
                </tr>
                <tr>
                    <th>Case Manager</th>
                    <td>Dr. Pederson</td>
                </tr>
                <tr>
                    <th>Case Type</th>
                    <td>[insert type]</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>Active</td>
                </tr>
                <tr>
                    <th>Prosecutor Case Number</th>
                    <td>#000000</td>
                </tr>
                <tr>
                    <th>Date Created</th>
                    <td>MM/DD/YYYY</td>
                </tr>
            </table>
        </div>
    </div>
</div>


</div>
