<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="/cases" class="list-group-item list-group-item-action bg-light">Case</a>
            <a href="/cases/referral" class="list-group-item list-group-item-action bg-light">Referral</a>
            <a href="/cases/patients" class="list-group-item list-group-item-action bg-light">Patients</a>
            <a href="/cases/medical" class="list-group-item list-group-item-action bg-light">Medical</a>
            <a href="/cases/family" class="list-group-item list-group-item-action bg-light">Family</a>
            <a href="/cases/history" class="list-group-item list-group-item-action bg-light">History</a>
            <a href="/cases/services" class="list-group-item list-group-item-action bg-light">Services</a>
            <a href="/cases/staff" class="list-group-item list-group-item-action bg-light">Staff</a>
            <a href="/cases/mentalhealth" class="list-group-item list-group-item-action bg-light">Mental Health</a>
            <a href="/cases/recommendation" class="list-group-item list-group-item-action bg-light">Recommendation</a>
            <a href="/cases/familyrecommendation" class="list-group-item list-group-item-action bg-light">Family Recommendation</a>
            <a href="/cases/notes" class="list-group-item list-group-item-action bg-light">Notes</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->


    <div id="page-content-wrapper">
        {{{body}}}
    </div>


</div>