<div class="container-fluid">

    <h1 class="text-center">Patient Information Management System</h1>

    <div class="row">
        {{!-- Case List Preview --}}
        <div class="col-lg-6 offset-0">
            <div class="table-responsive">
                <table class="table table-hover" id="table-case-list">
                    <thead>
                        <tr>
                            <th scope="col">Family Name</th>
                            <th scope="col">NJ Spirit #</th>
                            <th scope="col">Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Smith</td>
                            <td>274628</td>
                            <td>12/28/2019</td>
                        </tr>
                        <tr>
                            <td scope="row">Jackson</td>
                            <td>583657</td>
                            <td>12/29/2019</td>
                        </tr>
                        <tr>
                            <td scope="row">Jeffrey</td>
                            <td>204618</td>
                            <td>12/27/2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{!-- Calendar --}}
        <div class="col-lg-6 offset-0" id="calendar"></div>
    </div>





</div>