body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0E9F6;
  padding-top: 50px;
  
}

a {
  color: #00B7FF;
}

.input-form {
  position: relative;
}
