body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

a {
  color: #00B7FF;
}

.input-form {
  position: relative;
}

.section-label {
 margin-top: 10px;
}