<!-- Page should pull list of cases from database and display summary. -->

<div class="row justify-content-center">
    <h3 class="page-title">Case List</h3>
</div>

<div class="row justify-content-center">
    <table class="table table-hover case-tab-table" id="table-case-list">
        <thead>
            <tr>
                <th scope="col">Family Name</th>
                <th scope="col">NJ Spirit #</th>
                <th scope="col">Date Created</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Smith</td>
                <td>274628</td>
                <td>12/28/2019</td>
            </tr>
            <tr>
                <td scope="row">Jackson</td>
                <td>583657</td>
                <td>12/29/2019</td>
            </tr>
            <tr>
                <td scope="row">Jeffrey</td>
                <td>204618</td>
                <td>12/27/2019</td>
            </tr>
        </tbody>
    </table>
</div>