<div class='row justify-content-center' style="margin-top: 10px;">
    <h3> Staff </h3>
</div>

<div class='row justify-content-center' style="margin-top: 10px;">
    <p><strong>Add New Staff Member</strong></p> 
</div>

    <div class="form-group row justify-content-center">
        
        <label for="inputFamilyName" class="col-form-label">Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control  form-control-sm" id="inputStaffName" value="Jane Smith">
        </div>

        <label for="input-staff-name" class=" col-form-label">Role</label>
        <div class="col-sm-3">
            <select class="form-control form-control-sm" id="input-staff-role"
                name="staffRole" required>
                <option hidden value="">select...</option>
                <option value="doctor">nurse</option>
                <option value="nurse">doctor</option>
                <option value="role3">role3</option>
                <option value="role4">role4</option>
            </select>
        </div>

        <div class="col-sm-1">
             <button type="button" class="btn btn-secondary btn-sm">
                Add 
            </button>
        </div>
    </div>

<div class='row justify-content-center' style="margin-top: 10px;">
    <p><strong>Add Existing Staff Member</strong></p>  
</div>


    <div class="form-group row justify-content-center">
        <label for="input-staff-name" class="col-form-label">Staff</label>
        <div class="col-sm-4"> 
            <select class="form-control form-control-sm" id="input-staff-role"
                name="staffRole" required>
                <option hidden value="">select...</option>
                <option value="staff 1">staff 1</option>
                <option value="staff 2">staff 2</option>
                <option value="staff 3">staff 3</option>
                <option value="staff 4">staff 4</option>
            </select>
        </div>
    
        <div class="col-sm-1">
            <button type="button" class="btn btn-secondary btn-sm">
                Add 
            </button>
        </div>
    </div>

<div class="row justify-content-center" style="margin-top: 10px;">
    <table class="table" style="width:70%;">
        <tr>
            <th>Worker Name</th>
            <th>Role</th>
        </tr>
        <tr>
            <td>Leah Schild</td>
            <td>Doctor</td>
            <td><button type="button" class="btn btn-sm"><u>delete</u></button></td>
        </tr>
        <tr>
            <td>Leah Schild</td>
            <td>Doctor</td>
            <td><button type="button" class="btn btn-sm"><u>delete</u></button></td>
        </tr>
    </table>
</div>
